# Iteration 4

In [2]:
# Must be included at the beginning of each new notebook. 
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('mdea117-Iteration-4').getOrCreate()

from pyspark.sql.functions import col, when, count
from pyspark.sql.functions import unix_timestamp
from pyspark.sql.functions import from_unixtime
from pyspark.sql.functions import monotonically_increasing_id, row_number
from pyspark.sql.window import Window

#read in data
ghgdf = spark.read.load('Datasets/ghg emissions.csv', format='csv', header = 'true')
seadf = spark.read.load('Datasets/sea level changes.csv', format='csv', header = 'true')
tempdf = spark.read.load('Datasets/temp changes.csv', format='csv', header = 'true')

2.2

In [3]:
from pyspark.sql.functions import col, when, count, isnan
ghgdf.show()
#print(ghgdf.collect())
print(ghgdf.columns)
print((ghgdf.count(), len(ghgdf.columns)))
print("Expected:", ghgdf.count() * len(ghgdf.columns))
print("Nan:")
ghgdf.select([count(when(isnan(c), c)).alias(c) for c in ghgdf.columns]).show()
ghgdf.select([count(when(col(c).isNotNull() , c)).alias(c) for c in ghgdf.columns]).show()
print("Valid:", ghgdf.filter(col("CH4(MtCO2e)").isNotNull()).count() + ghgdf.filter(col("Years").isNotNull()).count() + ghgdf.filter(col("CO2(MtCO2e)").isNotNull()).count() + ghgdf.filter(col("N20(MtCO2e)").isNotNull()).count() + ghgdf.filter(col("Fgas(MtCO2e)").isNotNull()).count())

print(ghgdf.dtypes)

from pyspark.sql.types import DateType
ghgdf = spark.read.load('Datasets/ghg emissions.csv', format='csv', header = 'true')
pd = ghgdf.toPandas()
pd = pd.iloc[30:]
ghgdf = spark.createDataFrame(pd)
temp = ghgdf.withColumn('Years', from_unixtime(unix_timestamp('Years', 'dd/MM/yyy')).alias('Years').cast(DateType())) \
    .withColumn("CH4(MtCO2e)",col("CH4(MtCO2e)").cast("float")) \
    .withColumn("CO2(MtCO2e)",col("CO2(MtCO2e)").cast("float")) \
    .withColumn("N20(MtCO2e)",col("N20(MtCO2e)").cast("float")) \
    .withColumn("Fgas(MtCO2e)",col("Fgas(MtCO2e)").cast("float"))
ghgdf = temp       
print(ghgdf.dtypes)
ghgdf.show()

+----------+-----------+-----------+-----------+------------+
|     Years|CH4(MtCO2e)|CO2(MtCO2e)|N20(MtCO2e)|Fgas(MtCO2e)|
+----------+-----------+-----------+-----------+------------+
|01/12/1850|        600|        224|        104|        0.06|
|01/12/1851|        615|        231|     106.98|        0.06|
|01/12/1852|        630|        243|     109.96|        0.06|
|01/12/1853|      647.5|        256|     112.64|        0.06|
|01/12/1854|        665|        298|     115.33|        0.06|
|01/12/1855|        680|        308|     117.71|        0.06|
|01/12/1856|      697.5|        328|     120.09|        0.06|
|01/12/1857|        715|        332|     122.18|        0.06|
|01/12/1858|      732.5|        337|     123.97|        0.06|
|01/12/1859|      752.5|        358|     125.46|        0.06|
|01/12/1860|        770|        390|     126.65|        0.06|
|01/12/1861|      787.5|        406|     127.84|        0.06|
|01/12/1862|        805|        414|     128.74|        0.06|
|01/12/1863|        825|        446|     129.63|        0.06|
|01/12/1864|      842.5|        480|     130.52|        0.06|
|01/12/1865|      862.5|        506|     131.42|        0.06|
|01/12/1866|        880|        521|     132.01|        0.06|
|01/12/1867|        900|        567|     132.91|        0.06|
|01/12/1868|      917.5|        590|      133.8|        0.06|
|01/12/1869|      937.5|        633|      134.7|        0.06|
+----------+-----------+-----------+-----------+------------+
only showing top 20 rows

['Years', 'CH4(MtCO2e)', 'CO2(MtCO2e)', 'N20(MtCO2e)', 'Fgas(MtCO2e)']
(172, 5)
Expected: 860
Nan:
+-----+-----------+-----------+-----------+------------+
|Years|CH4(MtCO2e)|CO2(MtCO2e)|N20(MtCO2e)|Fgas(MtCO2e)|
+-----+-----------+-----------+-----------+------------+
|    0|          0|          0|          0|           0|
+-----+-----------+-----------+-----------+------------+

+-----+-----------+-----------+-----------+------------+
|Years|CH4(MtCO2e)|CO2(MtCO2e)|N20(MtCO2e)|Fgas(MtCO2e)|
+-----+-----------+-----------+-----------+------------+
|  172|        172|        171|        172|         172|
+-----+-----------+-----------+-----------+------------+

Valid: 859
[('Years', 'string'), ('CH4(MtCO2e)', 'string'), ('CO2(MtCO2e)', 'string'), ('N20(MtCO2e)', 'string'), ('Fgas(MtCO2e)', 'string')]
[('Years', 'date'), ('CH4(MtCO2e)', 'float'), ('CO2(MtCO2e)', 'float'), ('N20(MtCO2e)', 'float'), ('Fgas(MtCO2e)', 'float')]
+----------+-----------+-----------+-----------+------------+
|     Years|CH4(MtCO2e)|CO2(MtCO2e)|N20(MtCO2e)|Fgas(MtCO2e)|
+----------+-----------+-----------+-----------+------------+
|1880-12-01|     1152.5|     1080.0|     216.65|        0.06|
|1881-12-01|     1170.0|     1120.0|     219.63|        0.06|
|1882-12-01|     1190.0|     1200.0|     222.31|        0.06|
|1883-12-01|     1210.0|     1280.0|     224.69|        0.06|
|1884-12-01|     1227.5|     1310.0|     227.08|        0.06|
|1885-12-01|     1247.5|     1320.0|     229.16|        0.06|
|1886-12-01|     1265.0|     1350.0|     230.95|        0.06|
|1887-12-01|     1282.5|     1420.0|     233.04|        0.06|
|1888-12-01|     1302.5|     1610.0|     234.82|        0.06|
|1889-12-01|     1320.0|     1570.0|     237.21|        0.06|
|1890-12-01|     1340.0|     1690.0|     247.04|        0.06|
|1891-12-01|     1367.5|     1750.0|     251.51|        0.08|
|1892-12-01|     1395.0|     1770.0|     255.98|        0.11|
|1893-12-01|     1422.5|     1750.0|     260.45|        0.15|
|1894-12-01|     1450.0|     1800.0|     264.92|        0.21|
|1895-12-01|     1477.5|     1880.0|     269.09|        0.27|
|1896-12-01|     1507.5|     1930.0|     273.56|        0.34|
|1897-12-01|     1532.5|     2000.0|     277.74|        0.41|
|1898-12-01|     1560.0|     2090.0|     281.61|        0.48|
|1899-12-01|     1585.0|     2250.0|     285.48|        0.54|
+----------+-----------+-----------+-----------+------------+
only showing top 20 rows

In [4]:
from pyspark.sql.functions import col, when, count
from pyspark.sql.functions import unix_timestamp
from pyspark.sql.functions import from_unixtime
from pyspark.sql.functions import monotonically_increasing_id, row_number
from pyspark.sql.window import Window

seadf = spark.read.load('Datasets/sea level changes.csv', format='csv', header = 'true')
seadf.show()
# print(seadf.collect())
print(seadf.columns)
print((seadf.count(), len(seadf.columns)))
print("Expected:", seadf.count() * len(seadf.columns))
print("Nan:")
seadf.select([count(when(isnan(c), c)).alias(c) for c in seadf.columns]).show()
print("Valid:", seadf.filter(col("GMSL(mm)").isNotNull()).count() + seadf.filter(col("Years").isNotNull()).count())
seadf.select([count(when(col(c).isNotNull() , c)).alias(c) for c in seadf.columns]).show()
print(seadf.dtypes)

from pyspark.sql.types import DateType, FloatType

seadf.show()
print(seadf.dtypes)
temp = seadf.withColumn('Years', from_unixtime(unix_timestamp('Years', 'dd/MM/yyy')).alias('Years').cast(DateType())) \
            .withColumn("GMSL(mm)",col("GMSL(mm)").cast(FloatType()))
temp.show()

seadf = temp
print(seadf.dtypes)

+----------+--------+
|     Years|GMSL(mm)|
+----------+--------+
|01/12/1880|  -158.7|
|01/12/1881|  -153.1|
|01/12/1882|  -169.9|
|01/12/1883|  -164.6|
|01/12/1884|  -143.7|
|01/12/1885|  -145.2|
|01/12/1886|  -147.6|
|01/12/1887|  -153.2|
|01/12/1888|  -151.1|
|01/12/1889|  -149.5|
|01/12/1890|  -147.5|
|01/12/1891|  -149.2|
|01/12/1892|    -146|
|01/12/1893|  -141.3|
|01/12/1894|    -151|
|01/12/1895|  -139.2|
|01/12/1896|  -146.8|
|01/12/1897|  -141.6|
|01/12/1898|  -132.2|
|01/12/1899|  -124.7|
+----------+--------+
only showing top 20 rows

['Years', 'GMSL(mm)']
(142, 2)
Expected: 284
Nan:
+-----+--------+
|Years|GMSL(mm)|
+-----+--------+
|    0|       0|
+-----+--------+

Valid: 282
+-----+--------+
|Years|GMSL(mm)|
+-----+--------+
|  142|     140|
+-----+--------+

[('Years', 'string'), ('GMSL(mm)', 'string')]
+----------+--------+
|     Years|GMSL(mm)|
+----------+--------+
|01/12/1880|  -158.7|
|01/12/1881|  -153.1|
|01/12/1882|  -169.9|
|01/12/1883|  -164.6|
|01/12/1884|  -143.7|
|01/12/1885|  -145.2|
|01/12/1886|  -147.6|
|01/12/1887|  -153.2|
|01/12/1888|  -151.1|
|01/12/1889|  -149.5|
|01/12/1890|  -147.5|
|01/12/1891|  -149.2|
|01/12/1892|    -146|
|01/12/1893|  -141.3|
|01/12/1894|    -151|
|01/12/1895|  -139.2|
|01/12/1896|  -146.8|
|01/12/1897|  -141.6|
|01/12/1898|  -132.2|
|01/12/1899|  -124.7|
+----------+--------+
only showing top 20 rows

[('Years', 'string'), ('GMSL(mm)', 'string')]
+----------+--------+
|     Years|GMSL(mm)|
+----------+--------+
|1880-12-01|  -158.7|
|1881-12-01|  -153.1|
|1882-12-01|  -169.9|
|1883-12-01|  -164.6|
|1884-12-01|  -143.7|
|1885-12-01|  -145.2|
|1886-12-01|  -147.6|
|1887-12-01|  -153.2|
|1888-12-01|  -151.1|
|1889-12-01|  -149.5|
|1890-12-01|  -147.5|
|1891-12-01|  -149.2|
|1892-12-01|  -146.0|
|1893-12-01|  -141.3|
|1894-12-01|  -151.0|
|1895-12-01|  -139.2|
|1896-12-01|  -146.8|
|1897-12-01|  -141.6|
|1898-12-01|  -132.2|
|1899-12-01|  -124.7|
+----------+--------+
only showing top 20 rows

[('Years', 'date'), ('GMSL(mm)', 'float')]

In [5]:
from pyspark.sql.functions import col, when, count
tempdf.show()
print(tempdf.collect())
print(tempdf.columns)
print((tempdf.count(), len(tempdf.columns)))
print("Expected:", tempdf.count() * len(tempdf.columns))
print("Nan:")
tempdf.select([count(when(isnan(c), c)).alias(c) for c in tempdf.columns]).show()
print("Valid:", tempdf.filter(col("Land temp change ( C )").isNotNull()).count() + tempdf.filter(col("Years").isNotNull()).count()+ tempdf.filter(col("Ocean temp change ( C )").isNotNull()).count())
tempdf.select([count(when(col(c).isNotNull() , c)).alias(c) for c in tempdf.columns]).show()
from pyspark.sql.types import DateType, FloatType
temp = tempdf.withColumn('Years', from_unixtime(unix_timestamp('Years', 'dd/MM/yyy')).alias('Years').cast(DateType())) \
    .withColumn("Ocean temp change ( C )",col("Ocean temp change ( C )").cast(FloatType())) \
    .withColumn("Land temp change ( C )",col("Land temp change ( C )").cast(FloatType()))
print(temp.dtypes)
tempdf = temp

+----------+----------------------+-----------------------+
|     Years|Land temp change ( C )|Ocean temp change ( C )|
+----------+----------------------+-----------------------+
|01/12/1880|                 -0.34|                   0.01|
|01/12/1881|                 -0.63|                   0.05|
|01/12/1882|                 -0.01|                   0.09|
|01/12/1883|                 -1.29|                      0|
|01/12/1884|                 -0.61|                  -0.13|
|01/12/1885|                 -1.48|                  -0.17|
|01/12/1886|                 -0.55|                  -0.08|
|01/12/1887|                 -1.17|                  -0.35|
|01/12/1888|                 -0.84|                  -0.18|
|01/12/1889|                 -0.68|                   0.17|
|01/12/1890|                 -0.73|                  -0.22|
|01/12/1891|                 -0.87|                  -0.22|
|01/12/1892|                 -0.65|                   -0.1|
|01/12/1893|                    -2|                  -0.25|
|01/12/1894|                 -0.81|                  -0.27|
|01/12/1895|                 -1.21|                  -0.14|
|01/12/1896|                 -0.26|                  -0.12|
|01/12/1897|                 -0.71|                   0.09|
|01/12/1898|                  0.21|                   -0.1|
|01/12/1899|                 -0.12|                  -0.16|
+----------+----------------------+-----------------------+
only showing top 20 rows

[Row(Years='01/12/1880', Land temp change ( C )='-0.34', Ocean temp change ( C )='0.01'), Row(Years='01/12/1881', Land temp change ( C )='-0.63', Ocean temp change ( C )='0.05'), Row(Years='01/12/1882', Land temp change ( C )='-0.01', Ocean temp change ( C )='0.09'), Row(Years='01/12/1883', Land temp change ( C )='-1.29', Ocean temp change ( C )='0'), Row(Years='01/12/1884', Land temp change ( C )='-0.61', Ocean temp change ( C )='-0.13'), Row(Years='01/12/1885', Land temp change ( C )='-1.48', Ocean temp change ( C )='-0.17'), Row(Years='01/12/1886', Land temp change ( C )='-0.55', Ocean temp change ( C )='-0.08'), Row(Years='01/12/1887', Land temp change ( C )='-1.17', Ocean temp change ( C )='-0.35'), Row(Years='01/12/1888', Land temp change ( C )='-0.84', Ocean temp change ( C )='-0.18'), Row(Years='01/12/1889', Land temp change ( C )='-0.68', Ocean temp change ( C )='0.17'), Row(Years='01/12/1890', Land temp change ( C )='-0.73', Ocean temp change ( C )='-0.22'), Row(Years='01/12/1891', Land temp change ( C )='-0.87', Ocean temp change ( C )='-0.22'), Row(Years='01/12/1892', Land temp change ( C )='-0.65', Ocean temp change ( C )='-0.1'), Row(Years='01/12/1893', Land temp change ( C )='-2', Ocean temp change ( C )='-0.25'), Row(Years='01/12/1894', Land temp change ( C )='-0.81', Ocean temp change ( C )='-0.27'), Row(Years='01/12/1895', Land temp change ( C )='-1.21', Ocean temp change ( C )='-0.14'), Row(Years='01/12/1896', Land temp change ( C )='-0.26', Ocean temp change ( C )='-0.12'), Row(Years='01/12/1897', Land temp change ( C )='-0.71', Ocean temp change ( C )='0.09'), Row(Years='01/12/1898', Land temp change ( C )='0.21', Ocean temp change ( C )='-0.1'), Row(Years='01/12/1899', Land temp change ( C )='-0.12', Ocean temp change ( C )='-0.16'), Row(Years='01/12/1900', Land temp change ( C )='-1.16', Ocean temp change ( C )='-0.06'), Row(Years='01/12/1901', Land temp change ( C )='-0.44', Ocean temp change ( C )='-0.04'), Row(Years='01/12/1902', Land temp change ( C )='0.2', Ocean temp change ( C )='-0.21'), Row(Years='01/12/1903', Land temp change ( C )='-0.19', Ocean temp change ( C )='-0.26'), Row(Years='01/12/1904', Land temp change ( C )='-0.96', Ocean temp change ( C )='-0.5'), Row(Years='01/12/1905', Land temp change ( C )='-0.33', Ocean temp change ( C )='-0.37'), Row(Years='01/12/1906', Land temp change ( C )='-0.28', Ocean temp change ( C )='-0.09'), Row(Years='01/12/1907', Land temp change ( C )='-0.69', Ocean temp change ( C )='-0.26'), Row(Years='01/12/1908', Land temp change ( C )='-0.34', Ocean temp change ( C )='-0.4'), Row(Years='01/12/1909', Land temp change ( C )='-0.99', Ocean temp change ( C )='-0.44'), Row(Years='01/12/1910', Land temp change ( C )='-0.18', Ocean temp change ( C )='-0.43'), Row(Years='01/12/1911', Land temp change ( C )='-0.8', Ocean temp change ( C )='-0.46'), Row(Years='01/12/1912', Land temp change ( C )='-0.44', Ocean temp change ( C )='-0.22'), Row(Years='01/12/1913', Land temp change ( C )='-0.51', Ocean temp change ( C )='-0.3'), Row(Years='01/12/1914', Land temp change ( C )='0.81', Ocean temp change ( C )='-0.16'), Row(Years='01/12/1915', Land temp change ( C )='-0.29', Ocean temp change ( C )='-0.1'), Row(Years='01/12/1916', Land temp change ( C )='-0.15', Ocean temp change ( C )='-0.12'), Row(Years='01/12/1917', Land temp change ( C )='-0.51', Ocean temp change ( C )='-0.53'), Row(Years='01/12/1918', Land temp change ( C )='-0.63', Ocean temp change ( C )='-0.19'), Row(Years='01/12/1919', Land temp change ( C )='-0.61', Ocean temp change ( C )='-0.04'), Row(Years='01/12/1920', Land temp change ( C )='-0.06', Ocean temp change ( C )='-0.27'), Row(Years='01/12/1921', Land temp change ( C )='0.21', Ocean temp change ( C )='-0.19'), Row(Years='01/12/1922', Land temp change ( C )='-0.64', Ocean temp change ( C )='-0.18'), Row(Years='01/12/1923', Land temp change ( C )='-0.13', Ocean temp change ( C )='-0.29'), Row(Years='01/12/1924', Land temp change ( C )='-0.5', Ocean temp change ( C )='-0.11'), Row(Years='01/12/1925', Land temp change ( C )='-0.48', Ocean temp change ( C )='-0.37'), Row(Years='01/12/1926', Land temp change ( C )='0.56', Ocean temp change ( C )='-0.03'), Row(Years='01/12/1927', Land temp change ( C )='-0.49', Ocean temp change ( C )='-0.13'), Row(Years='01/12/1928', Land temp change ( C )='0.07', Ocean temp change ( C )='-0.14'), Row(Years='01/12/1929', Land temp change ( C )='-0.94', Ocean temp change ( C )='-0.31'), Row(Years='01/12/1930', Land temp change ( C )='-0.62', Ocean temp change ( C )='-0.23'), Row(Years='01/12/1931', Land temp change ( C )='-0.07', Ocean temp change ( C )='-0.02'), Row(Years='01/12/1932', Land temp change ( C )='0.82', Ocean temp change ( C )='-0.12'), Row(Years='01/12/1933', Land temp change ( C )='-0.59', Ocean temp change ( C )='-0.17'), Row(Years='01/12/1934', Land temp change ( C )='-0.39', Ocean temp change ( C )='-0.26'), Row(Years='01/12/1935', Land temp change ( C )='-0.58', Ocean temp change ( C )='-0.16'), Row(Years='01/12/1936', Land temp change ( C )='-0.59', Ocean temp change ( C )='-0.15'), Row(Years='01/12/1937', Land temp change ( C )='-0.49', Ocean temp change ( C )='-0.05'), Row(Years='01/12/1938', Land temp change ( C )='0.17', Ocean temp change ( C )='-0.04'), Row(Years='01/12/1939', Land temp change ( C )='0.17', Ocean temp change ( C )='-0.22'), Row(Years='01/12/1940', Land temp change ( C )='-0.47', Ocean temp change ( C )='0.22'), Row(Years='01/12/1941', Land temp change ( C )='0.03', Ocean temp change ( C )='0.38'), Row(Years='01/12/1942', Land temp change ( C )='0.34', Ocean temp change ( C )='0.28'), Row(Years='01/12/1943', Land temp change ( C )='-0.38', Ocean temp change ( C )='0.13'), Row(Years='01/12/1944', Land temp change ( C )='0.8', Ocean temp change ( C )='0.22'), Row(Years='01/12/1945', Land temp change ( C )='-0.19', Ocean temp change ( C )='0.34'), Row(Years='01/12/1946', Land temp change ( C )='0.32', Ocean temp change ( C )='0.22'), Row(Years='01/12/1947', Land temp change ( C )='-0.32', Ocean temp change ( C )='-0.1'), Row(Years='01/12/1948', Land temp change ( C )='0.61', Ocean temp change ( C )='-0.15'), Row(Years='01/12/1949', Land temp change ( C )='0.49', Ocean temp change ( C )='-0.02'), Row(Years='01/12/1950', Land temp change ( C )='-0.77', Ocean temp change ( C )='-0.1'), Row(Years='01/12/1951', Land temp change ( C )='-0.59', Ocean temp change ( C )='-0.16'), Row(Years='01/12/1952', Land temp change ( C )='0.31', Ocean temp change ( C )='0.06'), Row(Years='01/12/1953', Land temp change ( C )='0.21', Ocean temp change ( C )='0.04'), Row(Years='01/12/1954', Land temp change ( C )='-0.68', Ocean temp change ( C )='-0.01'), Row(Years='01/12/1955', Land temp change ( C )='0.67', Ocean temp change ( C )='-0.06'), Row(Years='01/12/1956', Land temp change ( C )='-0.4', Ocean temp change ( C )='-0.04'), Row(Years='01/12/1957', Land temp change ( C )='-0.33', Ocean temp change ( C )='0'), Row(Years='01/12/1958', Land temp change ( C )='0.76', Ocean temp change ( C )='0.16'), Row(Years='01/12/1959', Land temp change ( C )='0.23', Ocean temp change ( C )='0.13'), Row(Years='01/12/1960', Land temp change ( C )='0.06', Ocean temp change ( C )='0.03'), Row(Years='01/12/1961', Land temp change ( C )='0.31', Ocean temp change ( C )='0.06'), Row(Years='01/12/1962', Land temp change ( C )='0.35', Ocean temp change ( C )='0.04'), Row(Years='01/12/1963', Land temp change ( C )='0.16', Ocean temp change ( C )='0.02'), Row(Years='01/12/1964', Land temp change ( C )='0.12', Ocean temp change ( C )='-0.03'), Row(Years='01/12/1965', Land temp change ( C )='0.11', Ocean temp change ( C )='-0.14'), Row(Years='01/12/1966', Land temp change ( C )='-0.15', Ocean temp change ( C )='-0.02'), Row(Years='01/12/1967', Land temp change ( C )='-0.21', Ocean temp change ( C )='-0.05'), Row(Years='01/12/1968', Land temp change ( C )='-0.34', Ocean temp change ( C )='-0.15'), Row(Years='01/12/1969', Land temp change ( C )='-1.04', Ocean temp change ( C )='0.25'), Row(Years='01/12/1970', Land temp change ( C )='0.08', Ocean temp change ( C )='0.16'), Row(Years='01/12/1971', Land temp change ( C )='0.12', Ocean temp change ( C )='-0.04'), Row(Years='01/12/1972', Land temp change ( C )='-0.89', Ocean temp change ( C )='-0.01'), Row(Years='01/12/1973', Land temp change ( C )='0.29', Ocean temp change ( C )='0.27'), Row(Years='01/12/1974', Land temp change ( C )='-0.62', Ocean temp change ( C )='-0.04'), Row(Years='01/12/1975', Land temp change ( C )='0.39', Ocean temp change ( C )='0'), Row(Years='01/12/1976', Land temp change ( C )='0.27', Ocean temp change ( C )='-0.13'), Row(Years='01/12/1977', Land temp change ( C )='-0.48', Ocean temp change ( C )='0.35'), Row(Years='01/12/1978', Land temp change ( C )='0.17', Ocean temp change ( C )='0.16'), Row(Years='01/12/1979', Land temp change ( C )='-0.05', Ocean temp change ( C )='0.22'), Row(Years='01/12/1980', Land temp change ( C )='0.19', Ocean temp change ( C )='0.37'), Row(Years='01/12/1981', Land temp change ( C )='1.2', Ocean temp change ( C )='0.26'), Row(Years='01/12/1982', Land temp change ( C )='-0.12', Ocean temp change ( C )='0.23'), Row(Years='01/12/1983', Land temp change ( C )='0.89', Ocean temp change ( C )='0.39'), Row(Years='01/12/1984', Land temp change ( C )='0.38', Ocean temp change ( C )='0.26'), Row(Years='01/12/1985', Land temp change ( C )='0.32', Ocean temp change ( C )='0.19'), Row(Years='01/12/1986', Land temp change ( C )='0.77', Ocean temp change ( C )='0.15'), Row(Years='01/12/1987', Land temp change ( C )='0.48', Ocean temp change ( C )='0.26'), Row(Years='01/12/1988', Land temp change ( C )='0.81', Ocean temp change ( C )='0.47'), Row(Years='01/12/1989', Land temp change ( C )='0.21', Ocean temp change ( C )='0.15'), Row(Years='01/12/1990', Land temp change ( C )='0.58', Ocean temp change ( C )='0.28'), Row(Years='01/12/1991', Land temp change ( C )='0.7', Ocean temp change ( C )='0.33'), Row(Years='01/12/1992', Land temp change ( C )='1', Ocean temp change ( C )='0.26'), Row(Years='01/12/1993', Land temp change ( C )='0.69', Ocean temp change ( C )='0.24'), Row(Years='01/12/1994', Land temp change ( C )='0.49', Ocean temp change ( C )='0.18'), Row(Years='01/12/1995', Land temp change ( C )='1.04', Ocean temp change ( C )='0.38'), Row(Years='01/12/1996', Land temp change ( C )='0.2', Ocean temp change ( C )='0.27'), Row(Years='01/12/1997', Land temp change ( C )='0.53', Ocean temp change ( C )='0.27'), Row(Years='01/12/1998', Land temp change ( C )='0.72', Ocean temp change ( C )='0.55'), Row(Years='01/12/1999', Land temp change ( C )='1.01', Ocean temp change ( C )='0.32'), Row(Years='01/12/2000', Land temp change ( C )='0.51', Ocean temp change ( C )='0.27'), Row(Years='01/12/2001', Land temp change ( C )='0.75', Ocean temp change ( C )='0.36'), Row(Years='01/12/2002', Land temp change ( C )='1.41', Ocean temp change ( C )='0.45'), Row(Years='01/12/2003', Land temp change ( C )='1.35', Ocean temp change ( C )='0.48'), Row(Years='01/12/2004', Land temp change ( C )='0.96', Ocean temp change ( C )='0.48'), Row(Years='01/12/2005', Land temp change ( C )='1.1', Ocean temp change ( C )='0.49'), Row(Years='01/12/2006', Land temp change ( C )='0.7', Ocean temp change ( C )='0.43'), Row(Years='01/12/2007', Land temp change ( C )='1.98', Ocean temp change ( C )='0.53'), Row(Years='01/12/2008', Land temp change ( C )='0.22', Ocean temp change ( C )='0.29'), Row(Years='01/12/2009', Land temp change ( C )='1.06', Ocean temp change ( C )='0.43'), Row(Years='01/12/2010', Land temp change ( C )='1.03', Ocean temp change ( C )='0.63'), Row(Years='01/12/2011', Land temp change ( C )='0.61', Ocean temp change ( C )='0.41'), Row(Years='01/12/2012', Land temp change ( C )='0.64', Ocean temp change ( C )='0.37'), Row(Years='01/12/2013', Land temp change ( C )='1.04', Ocean temp change ( C )='0.47'), Row(Years='01/12/2014', Land temp change ( C )='1.15', Ocean temp change ( C )='0.53'), Row(Years='01/12/2015', Land temp change ( C )='1.48', Ocean temp change ( C )='0.59'), Row(Years='01/12/2016', Land temp change ( C )='1.69', Ocean temp change ( C )='0.92'), Row(Years='01/12/2017', Land temp change ( C )='1.65', Ocean temp change ( C )='0.73'), Row(Years='01/12/2018', Land temp change ( C )='1.18', Ocean temp change ( C )='0.6'), Row(Years='01/12/2019', Land temp change ( C )='1.65', Ocean temp change ( C )='0.68'), Row(Years='01/12/2020', Land temp change ( C )='2.09', Ocean temp change ( C )='0.79'), Row(Years='01/12/2021', Land temp change ( C )='1.38', Ocean temp change ( C )='0.57')]
['Years', 'Land temp change ( C )', 'Ocean temp change ( C )']
(142, 3)

Expected: 426
Nan:
+-----+----------------------+-----------------------+
|Years|Land temp change ( C )|Ocean temp change ( C )|
+-----+----------------------+-----------------------+
|    0|                     0|                      0|
+-----+----------------------+-----------------------+

Valid: 426
+-----+----------------------+-----------------------+
|Years|Land temp change ( C )|Ocean temp change ( C )|
+-----+----------------------+-----------------------+
|  142|                   142|                    142|
+-----+----------------------+-----------------------+

[('Years', 'date'), ('Land temp change ( C )', 'float'), ('Ocean temp change ( C )', 'float')]

2.4

In [6]:
ghgdf.printSchema()
ghgdf.describe().show()

print("Number of null values ghg:", (ghgdf.filter(col("Years").isNull()).count())+(ghgdf.filter(col("CH4(MtCO2e)").isNull()).count())+(ghgdf.filter(col("CO2(MtCO2e)").isNull()).count())+(ghgdf.filter(col("N20(MtCO2e)").isNull()).count())+(ghgdf.filter(col("Fgas(MtCO2e)").isNull()).count()))
print("Number of null values sea:", (seadf.filter(col("Years").isNull()).count()+ seadf.filter(col("GMSL(mm)").isNull()).count()))
print("Number of null values temp:", (tempdf.filter(col("Years").isNull()).count() + tempdf.filter(col("Land temp change ( C )").isNull()).count()+tempdf.filter(col("Ocean temp change ( C )").isNull()).count()))

seadf.printSchema()
seadf.describe().show()

tempdf.printSchema()
tempdf.describe().show()

root
 |-- Years: date (nullable = true)
 |-- CH4(MtCO2e): float (nullable = true)
 |-- CO2(MtCO2e): float (nullable = true)
 |-- N20(MtCO2e): float (nullable = true)
 |-- Fgas(MtCO2e): float (nullable = true)

+-------+------------------+------------------+------------------+------------------+
|summary|       CH4(MtCO2e)|       CO2(MtCO2e)|       N20(MtCO2e)|      Fgas(MtCO2e)|
+-------+------------------+------------------+------------------+------------------+
|  count|               142|               141|               142|               142|
|   mean| 4116.010563380281|12328.581560283688|1307.0876809778347|193.44260556767628|
| stddev|2299.0402480044495|10870.144142923922| 998.8046155483013|277.55631551470657|
|    min|            1152.5|            1080.0|            216.65|              0.06|
|    max|            8321.0|           36200.0|           3330.72|             999.0|
+-------+------------------+------------------+------------------+------------------+

Number of null values ghg: 1
Number of null values sea: 2
Number of null values temp: 0
root
 |-- Years: date (nullable = true)
 |-- GMSL(mm): float (nullable = true)

+-------+------------------+
|summary|          GMSL(mm)|
+-------+------------------+
|  count|               140|
|   mean|-49.79142852936472|
| stddev|147.99374252794388|
|    min|            -169.9|
|    max|            1500.0|
+-------+------------------+

root
 |-- Years: date (nullable = true)
 |-- Land temp change ( C ): float (nullable = true)
 |-- Ocean temp change ( C ): float (nullable = true)

+-------+----------------------+-----------------------+
|summary|Land temp change ( C )|Ocean temp change ( C )|
+-------+----------------------+-----------------------+
|  count|                   142|                    142|
|   mean|   0.06478873178572722|    0.06408450707898174|
| stddev|    0.7535266612061299|     0.2926381712262554|
|    min|                  -2.0|                  -0.53|
|    max|                  2.09|                   0.92|
+-------+----------------------+-----------------------+

3.1

In [7]:
print(((ghgdf.count(), len(ghgdf.columns))), ((seadf.count(), len(seadf.columns))), ((tempdf.count(), len(tempdf.columns))))

(142, 5) (142, 2) (142, 3)

3.2

In [8]:
from pyspark.sql.functions import mean as _mean
import pyspark.sql.functions as func
ghgdf.describe().show()
print("Number of null values ghg:", (ghgdf.filter(col("Years").isNull()).count())+(ghgdf.filter(col("CH4(MtCO2e)").isNull()).count())+(ghgdf.filter(col("CO2(MtCO2e)").isNull()).count())+(ghgdf.filter(col("N20(MtCO2e)").isNull()).count())+(ghgdf.filter(col("Fgas(MtCO2e)").isNull()).count()))
mean = ghgdf.select(func.round(_mean(col('CO2(MtCO2e)')),2).alias('mean')).collect()
mean = mean[0]['mean']
print(mean)
ghgdf = ghgdf.na.fill(mean)
print("Number of null values ghg:", (ghgdf.filter(col("Years").isNull()).count())+(ghgdf.filter(col("CH4(MtCO2e)").isNull()).count())+(ghgdf.filter(col("CO2(MtCO2e)").isNull()).count())+(ghgdf.filter(col("N20(MtCO2e)").isNull()).count())+(ghgdf.filter(col("Fgas(MtCO2e)").isNull()).count()))
ghgdf.describe().show()


seadf.describe().show()
print("Number of null values sea:", (seadf.filter(col("Years").isNull()).count()+ seadf.filter(col("GMSL(mm)").isNull()).count()))
mean = seadf.select(func.round(_mean(col('GMSL(mm)')),2).alias('mean')).collect()
mean = mean[0]['mean']
print(mean)
seadf = seadf.na.fill(mean)
print("Number of null values sea:", (seadf.filter(col("Years").isNull()).count()+ seadf.filter(col("GMSL(mm)").isNull()).count()))
seadf.describe().show()

outliers = seadf.filter(col('GMSL(mm)') > 1000).collect()
#print(outliers)
seadf = seadf.replace(outliers[0][1], mean)
outliers = seadf.filter(col('GMSL(mm)') > 1000).count()
print("outliers",outliers)

ghgdf = ghgdf.drop("Fgas(MtCO2e)")
ghgdf.show()

+-------+------------------+------------------+------------------+------------------+
|summary|       CH4(MtCO2e)|       CO2(MtCO2e)|       N20(MtCO2e)|      Fgas(MtCO2e)|
+-------+------------------+------------------+------------------+------------------+
|  count|               142|               141|               142|               142|
|   mean| 4116.010563380281|12328.581560283688|1307.0876809778347|193.44260556767628|
| stddev|2299.0402480044495|10870.144142923922| 998.8046155483013|277.55631551470657|
|    min|            1152.5|            1080.0|            216.65|              0.06|
|    max|            8321.0|           36200.0|           3330.72|             999.0|
+-------+------------------+------------------+------------------+------------------+

Number of null values ghg: 1
12328.58
Number of null values ghg: 0
+-------+------------------+------------------+------------------+------------------+
|summary|       CH4(MtCO2e)|       CO2(MtCO2e)|       N20(MtCO2e)|      Fgas(MtCO2e)|
+-------+------------------+------------------+------------------+------------------+
|  count|               142|               142|               142|               142|
|   mean| 4116.010563380281| 12328.58154984595|1307.0876809778347|193.44260556767628|
| stddev|2299.0402480044495|10831.528943996065| 998.8046155483013|277.55631551470657|
|    min|            1152.5|            1080.0|            216.65|              0.06|
|    max|            8321.0|           36200.0|           3330.72|             999.0|
+-------+------------------+------------------+------------------+------------------+

+-------+------------------+
|summary|          GMSL(mm)|
+-------+------------------+
|  count|               140|
|   mean|-49.79142852936472|
| stddev|147.99374252794388|
|    min|            -169.9|
|    max|            1500.0|
+-------+------------------+

Number of null values sea: 2
-49.79
Number of null values sea: 0
+-------+-------------------+
|summary|           GMSL(mm)|
+-------+-------------------+
|  count|                142|
|   mean|-49.791408422127574|
| stddev|   146.940392894351|
|    min|             -169.9|
|    max|             1500.0|
+-------+-------------------+

outliers 0
+----------+-----------+-----------+-----------+
|     Years|CH4(MtCO2e)|CO2(MtCO2e)|N20(MtCO2e)|
+----------+-----------+-----------+-----------+
|1880-12-01|     1152.5|     1080.0|     216.65|
|1881-12-01|     1170.0|     1120.0|     219.63|
|1882-12-01|     1190.0|     1200.0|     222.31|
|1883-12-01|     1210.0|     1280.0|     224.69|
|1884-12-01|     1227.5|     1310.0|     227.08|
|1885-12-01|     1247.5|     1320.0|     229.16|
|1886-12-01|     1265.0|     1350.0|     230.95|
|1887-12-01|     1282.5|     1420.0|     233.04|
|1888-12-01|     1302.5|     1610.0|     234.82|
|1889-12-01|     1320.0|     1570.0|     237.21|
|1890-12-01|     1340.0|     1690.0|     247.04|
|1891-12-01|     1367.5|     1750.0|     251.51|
|1892-12-01|     1395.0|     1770.0|     255.98|
|1893-12-01|     1422.5|     1750.0|     260.45|
|1894-12-01|     1450.0|     1800.0|     264.92|
|1895-12-01|     1477.5|     1880.0|     269.09|
|1896-12-01|     1507.5|     1930.0|     273.56|
|1897-12-01|     1532.5|     2000.0|     277.74|
|1898-12-01|     1560.0|     2090.0|     281.61|
|1899-12-01|     1585.0|     2250.0|     285.48|
+----------+-----------+-----------+-----------+
only showing top 20 rows

3.3

In [9]:
import pyspark.sql.functions as F
#new_tempdf = tempdf.withColumn("Average Temperature Change", func.col("Land temp change (C)")+ func.col("Ocean temp change ( C  )"))
newtempdf = tempdf.withColumn('Average Temperature Change', F.round(F.col('Land temp change ( C )') + F.col('Ocean temp change ( C )'),2))
newtempdf.show()

+----------+----------------------+-----------------------+--------------------------+
|     Years|Land temp change ( C )|Ocean temp change ( C )|Average Temperature Change|
+----------+----------------------+-----------------------+--------------------------+
|1880-12-01|                 -0.34|                   0.01|                     -0.33|
|1881-12-01|                 -0.63|                   0.05|                     -0.58|
|1882-12-01|                 -0.01|                   0.09|                      0.08|
|1883-12-01|                 -1.29|                    0.0|                     -1.29|
|1884-12-01|                 -0.61|                  -0.13|                     -0.74|
|1885-12-01|                 -1.48|                  -0.17|                     -1.65|
|1886-12-01|                 -0.55|                  -0.08|                     -0.63|
|1887-12-01|                 -1.17|                  -0.35|                     -1.52|
|1888-12-01|                 -0.84|                  -0.18|                     -1.02|
|1889-12-01|                 -0.68|                   0.17|                     -0.51|
|1890-12-01|                 -0.73|                  -0.22|                     -0.95|
|1891-12-01|                 -0.87|                  -0.22|                     -1.09|
|1892-12-01|                 -0.65|                   -0.1|                     -0.75|
|1893-12-01|                  -2.0|                  -0.25|                     -2.25|
|1894-12-01|                 -0.81|                  -0.27|                     -1.08|
|1895-12-01|                 -1.21|                  -0.14|                     -1.35|
|1896-12-01|                 -0.26|                  -0.12|                     -0.38|
|1897-12-01|                 -0.71|                   0.09|                     -0.62|
|1898-12-01|                  0.21|                   -0.1|                      0.11|
|1899-12-01|                 -0.12|                  -0.16|                     -0.28|
+----------+----------------------+-----------------------+--------------------------+
only showing top 20 rows

3.4

In [10]:
finaldf = ghgdf.join(newtempdf, ["Years"]).join(seadf, ["Years"])
finaldf.show()
finaldf.describe().show()

+----------+-----------+-----------+-----------+----------------------+-----------------------+--------------------------+--------+
|     Years|CH4(MtCO2e)|CO2(MtCO2e)|N20(MtCO2e)|Land temp change ( C )|Ocean temp change ( C )|Average Temperature Change|GMSL(mm)|
+----------+-----------+-----------+-----------+----------------------+-----------------------+--------------------------+--------+
|1880-12-01|     1152.5|     1080.0|     216.65|                 -0.34|                   0.01|                     -0.33|  -158.7|
|1881-12-01|     1170.0|     1120.0|     219.63|                 -0.63|                   0.05|                     -0.58|  -153.1|
|1882-12-01|     1190.0|     1200.0|     222.31|                 -0.01|                   0.09|                      0.08|  -169.9|
|1883-12-01|     1210.0|     1280.0|     224.69|                 -1.29|                    0.0|                     -1.29|  -164.6|
|1884-12-01|     1227.5|     1310.0|     227.08|                 -0.61|                  -0.13|                     -0.74|  -143.7|
|1885-12-01|     1247.5|     1320.0|     229.16|                 -1.48|                  -0.17|                     -1.65|  -145.2|
|1886-12-01|     1265.0|     1350.0|     230.95|                 -0.55|                  -0.08|                     -0.63|  -147.6|
|1887-12-01|     1282.5|     1420.0|     233.04|                 -1.17|                  -0.35|                     -1.52|  -153.2|
|1888-12-01|     1302.5|     1610.0|     234.82|                 -0.84|                  -0.18|                     -1.02|  -151.1|
|1889-12-01|     1320.0|     1570.0|     237.21|                 -0.68|                   0.17|                     -0.51|  -149.5|
|1890-12-01|     1340.0|     1690.0|     247.04|                 -0.73|                  -0.22|                     -0.95|  -147.5|
|1891-12-01|     1367.5|     1750.0|     251.51|                 -0.87|                  -0.22|                     -1.09|  -149.2|
|1892-12-01|     1395.0|     1770.0|     255.98|                 -0.65|                   -0.1|                     -0.75|  -146.0|
|1893-12-01|     1422.5|     1750.0|     260.45|                  -2.0|                  -0.25|                     -2.25|  -141.3|
|1894-12-01|     1450.0|     1800.0|     264.92|                 -0.81|                  -0.27|                     -1.08|  -151.0|
|1895-12-01|     1477.5|     1880.0|     269.09|                 -1.21|                  -0.14|                     -1.35|  -139.2|
|1896-12-01|     1507.5|     1930.0|     273.56|                 -0.26|                  -0.12|                     -0.38|  -146.8|
|1897-12-01|     1532.5|     2000.0|     277.74|                 -0.71|                   0.09|                     -0.62|  -141.6|
|1898-12-01|     1560.0|     2090.0|     281.61|                  0.21|                   -0.1|                      0.11|  -132.2|
|1899-12-01|     1585.0|     2250.0|     285.48|                 -0.12|                  -0.16|                     -0.28|  -124.7|
+----------+-----------+-----------+-----------+----------------------+-----------------------+--------------------------+--------+
only showing top 20 rows

+-------+------------------+------------------+------------------+----------------------+-----------------------+--------------------------+------------------+
|summary|       CH4(MtCO2e)|       CO2(MtCO2e)|       N20(MtCO2e)|Land temp change ( C )|Ocean temp change ( C )|Average Temperature Change|          GMSL(mm)|
+-------+------------------+------------------+------------------+----------------------+-----------------------+--------------------------+------------------+
|  count|               142|               142|               142|                   142|                    142|                       142|               142|
|   mean| 4116.010563380281| 12328.58154984595|1307.0876809778347|   0.06478873178572722|    0.06408450707898174|       0.12887323920575666|-60.70542251308199|
| stddev|2299.0402480044495|10831.528943996065| 998.8046155483013|    0.7535266612061299|     0.2926381712262554|        0.9944078381148234| 66.61153971604983|
|    min|            1152.5|            1080.0|            216.65|                  -2.0|                  -0.53|                     -2.25|            -169.9|
|    max|            8321.0|           36200.0|           3330.72|                  2.09|                   0.92|                      2.88|              84.1|
+-------+------------------+------------------+------------------+----------------------+-----------------------+--------------------------+------------------+

3.5

In [11]:
print(finaldf.dtypes)
finaldf = finaldf.drop("Land temp change ( C )")
finaldf = finaldf.drop("Ocean temp change ( C )")
finaldf.show()

[('Years', 'date'), ('CH4(MtCO2e)', 'float'), ('CO2(MtCO2e)', 'float'), ('N20(MtCO2e)', 'float'), ('Land temp change ( C )', 'float'), ('Ocean temp change ( C )', 'float'), ('Average Temperature Change', 'float'), ('GMSL(mm)', 'float')]
+----------+-----------+-----------+-----------+--------------------------+--------+
|     Years|CH4(MtCO2e)|CO2(MtCO2e)|N20(MtCO2e)|Average Temperature Change|GMSL(mm)|
+----------+-----------+-----------+-----------+--------------------------+--------+
|1880-12-01|     1152.5|     1080.0|     216.65|                     -0.33|  -158.7|
|1881-12-01|     1170.0|     1120.0|     219.63|                     -0.58|  -153.1|
|1882-12-01|     1190.0|     1200.0|     222.31|                      0.08|  -169.9|
|1883-12-01|     1210.0|     1280.0|     224.69|                     -1.29|  -164.6|
|1884-12-01|     1227.5|     1310.0|     227.08|                     -0.74|  -143.7|
|1885-12-01|     1247.5|     1320.0|     229.16|                     -1.65|  -145.2|
|1886-12-01|     1265.0|     1350.0|     230.95|                     -0.63|  -147.6|
|1887-12-01|     1282.5|     1420.0|     233.04|                     -1.52|  -153.2|
|1888-12-01|     1302.5|     1610.0|     234.82|                     -1.02|  -151.1|
|1889-12-01|     1320.0|     1570.0|     237.21|                     -0.51|  -149.5|
|1890-12-01|     1340.0|     1690.0|     247.04|                     -0.95|  -147.5|
|1891-12-01|     1367.5|     1750.0|     251.51|                     -1.09|  -149.2|
|1892-12-01|     1395.0|     1770.0|     255.98|                     -0.75|  -146.0|
|1893-12-01|     1422.5|     1750.0|     260.45|                     -2.25|  -141.3|
|1894-12-01|     1450.0|     1800.0|     264.92|                     -1.08|  -151.0|
|1895-12-01|     1477.5|     1880.0|     269.09|                     -1.35|  -139.2|
|1896-12-01|     1507.5|     1930.0|     273.56|                     -0.38|  -146.8|
|1897-12-01|     1532.5|     2000.0|     277.74|                     -0.62|  -141.6|
|1898-12-01|     1560.0|     2090.0|     281.61|                      0.11|  -132.2|
|1899-12-01|     1585.0|     2250.0|     285.48|                     -0.28|  -124.7|
+----------+-----------+-----------+-----------+--------------------------+--------+
only showing top 20 rows

4.1

In [12]:
finaldf.describe().show()

#finaldf.stat.corr("CH4(MtCO2e)", "CO2(MtCO2e)") "method to do comparison between two single fields"

# from pyspark.ml.stat import Correlation
# from pyspark.ml.feature import VectorAssembler    "example code from stack overflow"
# # convert to vector column first
# vector_col = "corr_features"
# assembler = VectorAssembler(inputCols=finaldf.columns, outputCol=vector_col)
# df_vector = assembler.transform(finaldf).select(vector_col)
# # get correlation matrix
# matrix = Correlation.corr(df_vector, vector_col)

finaldf.describe().show()
finalpd = finaldf.toPandas()
print(finalpd.corr(method = "pearson"))

+-------+------------------+------------------+------------------+--------------------------+------------------+
|summary|       CH4(MtCO2e)|       CO2(MtCO2e)|       N20(MtCO2e)|Average Temperature Change|          GMSL(mm)|
+-------+------------------+------------------+------------------+--------------------------+------------------+
|  count|               142|               142|               142|                       142|               142|
|   mean| 4116.010563380281| 12328.58154984595|1307.0876809778347|       0.12887323920575666|-60.70542251308199|
| stddev|2299.0402480044495|10831.528943996065| 998.8046155483013|        0.9944078381148234| 66.61153971604983|
|    min|            1152.5|            1080.0|            216.65|                     -2.25|            -169.9|
|    max|            8321.0|           36200.0|           3330.72|                      2.88|              84.1|
+-------+------------------+------------------+------------------+--------------------------+------------------+

+-------+------------------+------------------+------------------+--------------------------+------------------+
|summary|       CH4(MtCO2e)|       CO2(MtCO2e)|       N20(MtCO2e)|Average Temperature Change|          GMSL(mm)|
+-------+------------------+------------------+------------------+--------------------------+------------------+
|  count|               142|               142|               142|                       142|               142|
|   mean| 4116.010563380281| 12328.58154984595|1307.0876809778347|       0.12887323920575666|-60.70542251308199|
| stddev|2299.0402480044495|10831.528943996065| 998.8046155483013|        0.9944078381148234| 66.61153971604983|
|    min|            1152.5|            1080.0|            216.65|                     -2.25|            -169.9|
|    max|            8321.0|           36200.0|           3330.72|                      2.88|              84.1|
+-------+------------------+------------------+------------------+--------------------------+------------------+

                            CH4(MtCO2e)  CO2(MtCO2e)  N20(MtCO2e)  \
CH4(MtCO2e)                    1.000000     0.926478     0.966075
CO2(MtCO2e)                    0.926478     1.000000     0.968468
N20(MtCO2e)                    0.966075     0.968468     1.000000
Average Temperature Change     0.772612     0.817323     0.813985
GMSL(mm)                       0.920624     0.945299     0.945115

                            Average Temperature Change  GMSL(mm)
CH4(MtCO2e)                                   0.772612  0.920624
CO2(MtCO2e)                                   0.817323  0.945299
N20(MtCO2e)                                   0.813985  0.945115
Average Temperature Change                    1.000000  0.801486
GMSL(mm)                                      0.801486  1.000000

4.2

In [13]:
from pyspark.sql import Row
from pyspark.sql.functions import pow, col
import pyspark.sql.functions as F

tempsqrt = finaldf.select("*", (pow(col("Average Temperature Change"), 0.5).alias("Average Temperature Change sqrt")))
tempsqrt = tempsqrt.drop("Average Temperature Change")
tempsqrt = tempsqrt.select("*", pow(col("CH4(MtCO2e)"), 0.5).alias("CH4(MtCO2e) sqrt"))
tempsqrt = tempsqrt.drop("CH4(MtCO2e)")
tempsqrt = tempsqrt.select("*", pow(col("CO2(MtCO2e)"), 0.5).alias("CO2(MtCO2e) sqrt"))
tempsqrt = tempsqrt.drop("CO2(MtCO2e)")
tempsqrt = tempsqrt.select("*", pow(col("N20(MtCO2e)"), 0.5).alias("N20(MtCO2e) sqrt"))
tempsqrt = tempsqrt.drop("N20(MtCO2e)")
tempsqrt = tempsqrt.select("*", pow(col("GMSL(mm)"), 0.5).alias("GMSL(mm) sqrt"))
tempsqrt = tempsqrt.drop("GMSL(mm)")
tempsqrt.show()
sq = tempsqrt.toPandas()
print(tempsqrt.select("CH4(MtCO2e) sqrt"))

tempcub = finaldf.select("*", (pow(col("Average Temperature Change"), 3).alias("Average Temperature Change cub")))
tempcub = tempcub.drop("Average Temperature Change")
tempcub = tempcub.select("*", pow(col("CH4(MtCO2e)"), 3).alias("CH4(MtCO2e) cub"))
tempcub = tempcub.drop("CH4(MtCO2e)")
tempcub = tempcub.select("*", pow(col("CO2(MtCO2e)"), 3).alias("CO2(MtCO2e) cub"))
tempcub = tempcub.drop("CO2(MtCO2e)")
tempcub = tempcub.select("*", pow(col("N20(MtCO2e)"), 3).alias("N20(MtCO2e) cub"))
tempcub = tempcub.drop("N20(MtCO2e)")
tempcub = tempcub.select("*", pow(col("GMSL(mm)"), 3).alias("GMSL(mm) cub"))
tempcub = tempcub.drop("GMSL(mm)")
tempcub.show()

cub = tempcub.toPandas()

#print(tempsqrt.select("CH4(MtCO2e) sqrt"))

import matplotlib.pyplot as plt
# finaldp = finaldf.toPandas()
# plt.hist(finaldp['CH4(MtCO2e)'])
# plt.title("CH4(MtCO2e)")
# plt.show()
# plt.hist(finaldp['CO2(MtCO2e)'])
# plt.title("CO2(MtCO2e)")
# plt.show()
# plt.hist(finaldp['N20(MtCO2e)'])
# plt.title("N20(MtCO2e)")
# plt.show()
# plt.hist(finaldp['Average Temperature Change'])
# plt.title("Average Temperature Change")
# plt.show()
# plt.hist(finaldp['GMSL(mm)'])
# plt.title("GMSL(mm)")
# plt.show()

#plt.hist(tempsqrt.select("CH4(MtCO2e) sqrt").collect())

# plt.hist(sq['CH4(MtCO2e) sqrt'])
# plt.title("CH4(MtCO2e) sqrt")
# plt.show()
# plt.hist(sq['CO2(MtCO2e) sqrt'])
# plt.title("CO2(MtCO2e) sqrt")
# plt.show()
# plt.hist(sq['N20(MtCO2e) sqrt'])
# plt.title("N20(MtCO2e) sqrt")
# plt.show()
# plt.hist(sq['Average Temperature Change sqrt'])
# plt.title("Average Temperature Change sqrt")
# plt.show()
# plt.hist(sq['GMSL(mm) sqrt'])
# plt.title("GMSL sqrt")
# plt.show()

plt.hist(cub['CH4(MtCO2e) cub'])
plt.title("CH4(MtCO2e) cub")
plt.show()
plt.hist(cub['CO2(MtCO2e) cub'])
plt.title("CO2(MtCO2e) cub")
plt.show()
plt.hist(cub['N20(MtCO2e) cub'])
plt.title("N20(MtCO2e) cub")
plt.show()
plt.hist(cub['Average Temperature Change cub'])
plt.title("Average Temperature Change cub")
plt.show()
plt.hist(cub['GMSL(mm) cub'])
plt.title("GMSL cub")
plt.show()

+----------+-------------------------------+------------------+------------------+------------------+-------------+
|     Years|Average Temperature Change sqrt|  CH4(MtCO2e) sqrt|  CO2(MtCO2e) sqrt|  N20(MtCO2e) sqrt|GMSL(mm) sqrt|
+----------+-------------------------------+------------------+------------------+------------------+-------------+
|1880-12-01|                            NaN| 33.94849039353591|32.863353450309965|14.719035087140881|          NaN|
|1881-12-01|                            NaN| 34.20526275297414| 33.46640106136302|14.819919192857041|          NaN|
|1882-12-01|            0.28284270931360533| 34.49637662132068| 34.64101615137755| 14.91006363361987|          NaN|
|1883-12-01|                            NaN|34.785054261852174| 35.77708763999664|14.989663186389688|          NaN|
|1884-12-01|                            NaN|35.035696082709705|36.193922141707716|15.069173893450651|          NaN|
|1885-12-01|                            NaN| 35.31996602489872|  36.3318042491699|15.138031697090259|          NaN|
|1886-12-01|                            NaN|35.566838487557476|36.742346141747674|15.197039084908685|          NaN|
|1887-12-01|                            NaN|35.812009158939965| 37.68288736283355|15.265647489907947|          NaN|
|1888-12-01|                            NaN| 36.09016486523718|40.124805295477756| 15.32383787842389|          NaN|
|1889-12-01|                            NaN|  36.3318042491699|  39.6232255123179|15.401623509028754|          NaN|
|1890-12-01|                            NaN| 36.60601043544625| 41.10960958218893|15.717505949931523|          NaN|
|1891-12-01|                            NaN|36.979724174201195| 41.83300132670378|15.859066634163435|          NaN|
|1892-12-01|                            NaN|  37.3496987939662| 42.07136793592526| 15.99937485427287|          NaN|
|1893-12-01|                            NaN| 37.71604433129222| 41.83300132670378|16.138463749906037|          NaN|
|1894-12-01|                            NaN| 38.07886552931954| 42.42640687119285|16.276363642648636|          NaN|
|1895-12-01|                            NaN| 38.43826218756514|  43.3589667773576|16.403962824204726|          NaN|
|1896-12-01|                            NaN| 38.82653731663435| 43.93176527297759|16.539649257423623|          NaN|
|1897-12-01|                            NaN|39.147158262126766|44.721359549995796|16.665533001808704|          NaN|
|1898-12-01|            0.33166247813696614|39.496835316262995| 45.71651780264984|16.781239088683602|          NaN|
|1899-12-01|                            NaN| 39.81205847478876| 47.43416490252569|16.896153733507756|          NaN|
+----------+-------------------------------+------------------+------------------+------------------+-------------+
only showing top 20 rows

DataFrame[CH4(MtCO2e) sqrt: double]
+----------+------------------------------+----------------+---------------+--------------------+-------------------+
|     Years|Average Temperature Change cub| CH4(MtCO2e) cub|CO2(MtCO2e) cub|     N20(MtCO2e) cub|       GMSL(mm) cub|
+----------+------------------------------+----------------+---------------+--------------------+-------------------+
|1880-12-01|          -0.03593700428402441|1.530815328125E9|     1.259712E9|1.0168948395178812E7| -3996968.772418126|
|1881-12-01|           -0.1951119831571584|      1.601613E9|     1.404928E9| 1.059436700994863E7| -3588604.720192095|
|1882-12-01|          5.119999656677253E-4|      1.685159E9|        1.728E9|1.0986945790415397E7|  -4904334.57044759|
|1883-12-01|            -2.146688809558874|      1.771561E9|     2.097152E9|1.1343608957476554E7| -4459534.632090595|
|1884-12-01|          -0.40522401566696187|1.849543296875E9|     2.248091E9|  1.17094546021688E7|-2967360.2639464457|
|1885-12-01|           -4.4921248052716285|1.941429671875E9|     2.299968E9|1.2034178848235402E7| -3061257.214979008|
|1886-12-01|              -0.2500469943223|   2.024284625E9|     2.460375E9|1.2318388094051924E7|-3215578.5749091962|
|1887-12-01|           -3.5118078677978533|2.109464015625E9|     2.863288E9|1.2655851704621153E7|-3595640.5531235393|
|1888-12-01|           -1.0612079404678356|2.209699390625E9|     4.173281E9|1.2948077547749804E7| -3449796.249051958|
|1889-12-01|          -0.13265099255847945|      2.299968E9|     3.869893E9|1.3347471967700433E7|       -3341362.375|
|1890-12-01|           -0.8573749677240853|      2.406104E9|     4.826809E9|1.5076544036447033E7|       -3209046.875|
|1891-12-01|           -1.2950291189713514|2.557301921875E9|     5.359375E9|1.5909837475503169E7| -3321287.284197758|
|1892-12-01|                     -0.421875|   2.714704875E9|     5.545233E9|1.6773283307323258E7|         -3112136.0|
|1893-12-01|                    -11.390625|2.878437640625E9|     5.359375E9|1.7667420525287807E7| -2821152.179791355|
|1894-12-01|           -1.2597121501693784|      3.048625E9|        5.832E9|1.8592778914668333E7|         -3442951.0|
|1895-12-01|           -2.4603751303553603|3.225391734375E9|     6.644672E9|1.9484652211915273E7|-2697228.1106015663|
|1896-12-01|          -0.05487199793434146|3.425878546875E9|     7.189057E9|2.0471882185907554E7| -3163575.429298344|
|1897-12-01|          -0.23832800549888616|3.599162453125E9|          8.0E9| 2.142472458087757E7|-2839159.6631367346|
|1898-12-01|          0.001330999978363...|      3.796416E9|     9.129329E9|2.2332850052233677E7| -2310438.087994755|
|1899-12-01|          -0.02195200028038025|   3.981876625E9|   1.1390625E10| 2.326628878871078E7|-1939096.0806346775|
+----------+------------------------------+----------------+---------------+--------------------+-------------------+
only showing top 20 rows

6.3

In [24]:
print(finaldf.dtypes)

[('Years', 'date'), ('CH4(MtCO2e)', 'float'), ('CO2(MtCO2e)', 'float'), ('N20(MtCO2e)', 'float'), ('Average Temperature Change', 'float'), ('GMSL(mm)', 'float')]

Trial 1

In [26]:
import statsmodels.tsa.api as sm
import numpy as np
import pandas as pd

p = finaldf.toPandas()

schema = StructType([StructField('CH4(MtCO2e)', FloatType(), True),
                     StructField('CO2(MtCO2e)', FloatType(), True),
                     StructField('N20(MtCO2e)', FloatType(), True),
                     StructField('Average Temperature Change', FloatType(), True),
                     StructField('GMSL(mm)', FloatType(), True)])
                     
                    

@pandas_udf(schema, PandasUDFType.GROUPED_MAP)

##using the holt winters time series algorithm 
def holt_winters_time_series_udf(data):
  
    data.set_index('Years',inplace = True)
    ch4 = p['CH4(MtCO2e)']
    co2 = p['CO2(MtCO2e)']
    n20 = p['N20(MtCO2e)']
    tem = p['Average Temperature Change']
    gmsl = p['GMSL(mm)']
    

    ##the model
    mch4 = sm.ExponentialSmoothing(np.asarray(ch4),trend='add').fit()
    mco2 = sm.ExponentialSmoothing(np.asarray(co2),trend='add').fit()
    mn20 = sm.ExponentialSmoothing(np.asarray(n20),trend='add').fit()
    mtem = sm.ExponentialSmoothing(np.asarray(tem),trend='add').fit()
    mgmsl = sm.ExponentialSmoothing(np.asarray(gmsl),trend='add').fit()

    ##forecast values
    fch4 = pd.Series(mch4.forecast(50),name = 'ch4')
    fco2 = pd.Series(mco2.forecast(50),name = 'co2')
    fn20 = pd.Series(mn20.forecast(50),name = 'n20')
    ftem = pd.Series(mtem.forecast(50),name = 'tem')
    fgmsl = pd.Series(mgmsl.forecast(50),name = 'gmsl')
    
   
    return pd.DataFrame({'CH4(MtCO2e)': [fch4], 'CO2(MtCO2e)': [fco2],'N20(MtCO2e)': [fn20],'Average Temperature Change': [ftem],'GMSL(mm)': [fgmsl]})

fch4df = mch4\
    .apply(holt_winters_time_series_udf)
fco2df = mco2\
    .apply(holt_winters_time_series_udf)
fn20df = mn20\
    .apply(holt_winters_time_series_udf)
ftemdf = mtem\
    .apply(holt_winters_time_series_udf)

ImportError: No module named 'statsmodels'

Trial 2

In [22]:
def forecasts(p): 
    
    # instantiate the model, configure the parameters
    model = Prophet(
        interval_width=0.95,
        growth='linear',
        daily_seasonality=False,
        weekly_seasonality=False,
        yearly_seasonality=False,
        seasonality_mode='multiplicative'
    )
    
    # fit the model
    model.fit(p)
    
    future_pd = model.make_future_dataframe(
        periods=50, 
        freq='Y',
        include_history=True
    )
    
    results_pd = model.predict(future_pd)
    
    return results_pd

p = finaldf.toPandas()

r_schema = StructType([StructField("Years", DateType(), True),
                     StructField('CH4(MtCO2e)', FloatType(), True),
                     StructField('CO2(MtCO2e)', FloatType(), True),
                     StructField('N20(MtCO2e)', FloatType(), True),
                     StructField('Average Temperature Change', FloatType(), True),
                     StructField('GMSL(mm)', FloatType(), True)])
 
results = (
    finaldf.applyInPandas(forecasts, schema=r_schema)
    )

+----------+-----------+-----------+-----------+--------------------------+--------+
|     Years|CH4(MtCO2e)|CO2(MtCO2e)|N20(MtCO2e)|Average Temperature Change|GMSL(mm)|
+----------+-----------+-----------+-----------+--------------------------+--------+
|1880-12-01|     1152.5|     1080.0|     216.65|                     -0.33|  -158.7|
|1881-12-01|     1170.0|     1120.0|     219.63|                     -0.58|  -153.1|
|1882-12-01|     1190.0|     1200.0|     222.31|                      0.08|  -169.9|
|1883-12-01|     1210.0|     1280.0|     224.69|                     -1.29|  -164.6|
|1884-12-01|     1227.5|     1310.0|     227.08|                     -0.74|  -143.7|
|1885-12-01|     1247.5|     1320.0|     229.16|                     -1.65|  -145.2|
|1886-12-01|     1265.0|     1350.0|     230.95|                     -0.63|  -147.6|
|1887-12-01|     1282.5|     1420.0|     233.04|                     -1.52|  -153.2|
|1888-12-01|     1302.5|     1610.0|     234.82|                     -1.02|  -151.1|
|1889-12-01|     1320.0|     1570.0|     237.21|                     -0.51|  -149.5|
|1890-12-01|     1340.0|     1690.0|     247.04|                     -0.95|  -147.5|
|1891-12-01|     1367.5|     1750.0|     251.51|                     -1.09|  -149.2|
|1892-12-01|     1395.0|     1770.0|     255.98|                     -0.75|  -146.0|
|1893-12-01|     1422.5|     1750.0|     260.45|                     -2.25|  -141.3|
|1894-12-01|     1450.0|     1800.0|     264.92|                     -1.08|  -151.0|
|1895-12-01|     1477.5|     1880.0|     269.09|                     -1.35|  -139.2|
|1896-12-01|     1507.5|     1930.0|     273.56|                     -0.38|  -146.8|
|1897-12-01|     1532.5|     2000.0|     277.74|                     -0.62|  -141.6|
|1898-12-01|     1560.0|     2090.0|     281.61|                      0.11|  -132.2|
|1899-12-01|     1585.0|     2250.0|     285.48|                     -0.28|  -124.7|
+----------+-----------+-----------+-----------+--------------------------+--------+
only showing top 20 rows

+----------+-----------+-----------+-----------+--------------------------+--------+
|     Years|CH4(MtCO2e)|CO2(MtCO2e)|N20(MtCO2e)|Average Temperature Change|GMSL(mm)|
+----------+-----------+-----------+-----------+--------------------------+--------+
|1965-12-01|     4900.0|    12300.0|    1621.12|                     -0.03|   -41.6|
|1966-12-01|     5050.0|    12800.0|    1692.64|                     -0.17|   -47.0|
|1967-12-01|     5200.0|    13200.0|    1752.24|                     -0.26|   -45.6|
|1968-12-01|     5375.0|    13900.0|     1802.9|                     -0.49|   -44.8|
|1969-12-01|     5525.0|    14800.0|     1847.6|                     -0.79|   -38.0|
|1970-12-01|     5750.0|    15900.0|    1871.44|                      0.24|   -39.9|
|1971-12-01|     5900.0|    16400.0|    1856.54|                      0.08|   -34.7|
|1972-12-01|     6100.0|    17100.0|    1913.16|                      -0.9|   -25.6|
|1973-12-01|     6475.0|    18000.0|    1990.64|                      0.56|   -31.6|
|1974-12-01|     6475.0|    17900.0|    2005.54|                     -0.66|   -19.7|
|1975-12-01|     6350.0|    17800.0|    2059.18|                      0.39|   -21.3|
|1976-12-01|     6625.0|    18700.0|     2100.9|                      0.14|   -22.3|
|1977-12-01|     6625.0|    19200.0|    2139.64|                     -0.13|   -24.0|
|1978-12-01|     6825.0|    20000.0|    2193.28|                      0.33|   -17.6|
|1979-12-01|     6875.0|    20500.0|    2261.82|                      0.17|   -22.5|
|1980-12-01|     6725.0|    20300.0|     2264.8|                      0.56|   -16.5|
|1981-12-01|     6325.0|    19800.0|    2232.02|                      1.46|    -4.1|
|1982-12-01|     6325.0|    19600.0|    2226.06|                      0.11|    -9.9|
|1983-12-01|     6300.0|    19700.0|     2264.8|                      1.28|    -1.5|
|1984-12-01|     6225.0|    20300.0|    2291.62|                      0.64|    -2.4|
+----------+-----------+-----------+-----------+--------------------------+--------+
only showing top 20 rows

Linear regression trial 3

In [25]:
from pyspark.ml.feature import VectorAssembler
vectorAssembler = VectorAssembler(inputCols = ['CH4(MtCO2e)','CO2(MtCO2e)','N20(MtCO2e)','Average Temperature Change','GMSL(mm)' ], outputCol = 'Features')
vfinaldf = vectorAssembler.transform(finaldf)
vfinaldf = vfinaldf.select(['Years', 'Features'])
vfinaldf.show()

from pyspark.sql.functions import percent_rank
from pyspark.sql import Window

df = vfinaldf.withColumn("rank", percent_rank().over(Window.partitionBy().orderBy("Years")))

train_data = df.where("rank <= .6").drop("rank")

test_data = df.where("rank > .6").drop("rank")


from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol = 'Features', labelCol='Years')
lr_model = lr.fit(train_data)
print("Coefficients: " + str(lr_model.coefficients))
print("Intercept: " + str(lr_model.intercept))

trainingSummary = lr_model.summary
print("RMSE: %f" % trainingSummary.rootMeanSquaredError)
print("r2: %f" % trainingSummary.r2)

+----------+--------------------+
|     Years|            Features|
+----------+--------------------+
|1880-12-01|[1152.5,1080.0,21...|
|1881-12-01|[1170.0,1120.0,21...|
|1882-12-01|[1190.0,1200.0,22...|
+----------+--------------------+
only showing top 3 rows

IllegalArgumentException: 'requirement failed: Column Years must be of type NumericType but was actually of type DateType.'

From iteration 3 6.3- 8

In [26]:
from statsmodels.tsa.vector_ar.var_model import VAR
import pandas as pd

from pyspark.sql.functions import percent_rank
from pyspark.sql import Window

df = finaldf.withColumn("rank", percent_rank().over(Window.partitionBy().orderBy("Years")))

train_data = df.where("rank <= .6").drop("rank")

test_data = df.where("rank > .6").drop("rank")


p = train_data.toPandas()
q = test_data.toPandas()

df1 = p.drop(["Years"], axis = 1)
df1.index = pd.DatetimeIndex(p.Years).to_period('Y') #pyspark doesnt do indexing, so need to work in pandas

df2 = q.drop(["Years"], axis = 1)
df2.index = pd.DatetimeIndex(q.Years).to_period('Y')

final_model_train = VAR(endog=df1)
model_fit_train = final_model.fit()

final_model_test = VAR(endog=df2)
model_fit_test = final_model.fit()

forecast = model_fit_test.forecast(model_fit_test.y, steps= 50)

preddata1 = pd.DataFrame(forecast)

finalyr = df2.last_valid_index().strftime('%Y')
finalyr = int(finalyr)
preddata1.insert(0, 'Years', range(finalyr+1, finalyr + len(preddata1)+1))
preddata1['Years'] = pd.to_datetime(preddata1['Years'], format='%Y')
preddata = preddata1.drop(['Years'], axis=1)

preddata.index = pd.DatetimeIndex(preddata1.Years).to_period('Y')

preddata.columns = ['CH4(MtCO2e)','CO2(MtCO2e)', 'N20(MtCO2e)', "Average Temperatur Change (C)", 'GMSL(mm)']
#print(preddata)


dbwithpred = pd.concat([df, preddata])
#print(dbwithpred)

print(model_fit_test.summary())
print(model_fit_train.summary())
print(dbwithpred.corr(method = "pearson"))
print("mean:\n", dbwithpred.mean(), "\n min:\n", dbwithpred.min(), "\n max:\n", dbwithpred.max(), "\n std deviation:\n", dbwithpred.std(), "\n number of valid records:\n", dbwithpred.count(), "\n skew:\n", dbwithpred.skew())
Q1 = dbwithpred.quantile(0.25)
Q3 = dbwithpred.quantile(0.75)
IQR = Q3 - Q1
print("Outliers:\n", ((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).sum(), "Standard error of mean\n", dbwithpred.sem())

dbwithpred.plot(y='CH4(MtCO2e)', kind = 'line')
dbwithpred.plot(y='CO2(MtCO2e)', kind = 'line')
dbwithpred.plot(y='N20(MtCO2e)', kind = 'line')
dbwithpred.plot(y='Average Temperatur Change (C)', kind = 'line')
dbwithpred.plot(y='GMSL(mm)', kind = 'line')
dbwithpred.plot(kind = 'line')
plt.show()


#Patterns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# print("init data", db.corr(method = "pearson"))
# print("pred data", preddata.corr(method = "pearson"))
# print("final data",dbwithpred.corr(method = "pearson"))

ImportError: No module named 'statsmodels'

7.1

In [13]:
from pyspark.sql.functions import percent_rank
from pyspark.sql import Window

df = vfinaldf.withColumn("rank", percent_rank().over(Window.partitionBy().orderBy("Years")))

train_data = df.where("rank <= .6").drop("rank")

test_data = df.where("rank > .6").drop("rank")